{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"Custodian",
         "color":"{{ action['slack_msg_color']|default("danger") }}",
         "fields":[
            {
               "title":"Resources",
               "value":"{%- for resource in resources -%}
                            {%- for findingResource in resource['resources'] -%}
                                *{{ findingResource['details']['awsEcrContainerImage']['repositoryName'] }}: {{ findingResource['details']['awsEcrContainerImage']['imageTags']|join(',') }}*: {{ resource['title'] }} Severity {{ resource['severity'] }}\n
                            {%- endfor -%}
                        {%- endfor -%}"
            },
            {
               "title":"Account",
               "value":"{{ account_id }}"
            },
            {
               "title":"Region",
               "value":"{{ region }}"
            },
            {
               "title":"Violation Description",
               "value":"{{ action['violation_desc'] }}"
            },
            {
               "title":"Action Description",
               "value":"{{ action['action_desc'] }}"
            }
         ]
      }
   ],
   {%- if not recipient.startswith('https://') %}
   "channel":"{{ recipient }}",
   {%- endif -%}
   "username":"Custodian"
}
