# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
*.backup
terraform/.terraform

# External modules
terraform/tdr-configurations
terraform/tdr-terraform-modules

# Custodian
logs
deploy.yml

#IDEs
.idea

# Mac OS
.DS_Store

# Python venv
venv
